/* Imports */
@font-face
{
    font-family: Nazzy;
    src:url('Fonts/TropichaosCrossRegular.ttf');
}
@font-face
{
    font-family: Modeka;
    src: url('Fonts/Modeka.otf');
}
@font-face
{
    font-family: preak;
    src: url('Fonts/Break_Regular.ttf');
}
/* Global styles */
*
{
    padding:0;
    margin:0;
    
    
    
}
/* General style rules */

body,html
{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}
body
{
    font-size: 16px;
    
    background-image:url(Backgrounds/mochaGrunge.png);
    background-repeat: repeat;
    
    
    
}
main
{
    /* Borders */
    border: 12px solid rgba(250,250,250,0.85);
    /*  dimensions  */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    /*  Flex  */
    display: flex;
    flex-direction: column;
    /*  Alignments  */
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,0.1); /* tint filter for the background */
    
    box-shadow: inset 0px 0px 16px rgba(0,0,0,0.25);  /*Shadowy corners*/ 
    
    
    
}

.info
{
    /* Dimensions */
    width: 100%;
    
    /* Alignment */
    text-align: center;
    
    /* Padding & margin */
    margin-bottom: 3em;
}
.name
{
    /*  Font  */
    font-size: 10em;
    font-family: Modeka;
    
    /*  padding & margin  */
    margin-bottom: 0.1em;
    
    color: rgba(250,250,250,.85);
    
}
.description
{
    /* Font */
    font-size: 2em;
    color: white;opacity:.85;
    font-family: Modeka;
}

nav
{
    /* Dimensions */
    box-sizing: border-box;
    width: 100%;
    
    /* Alignment */
    text-align: center; 
    
    display:flex;
    align-items:center;
    justify-content: center;
    
    background-color: rgba(250,250,250,0.050);
    
}

li
{
    display: inline-flex;
    
    justify-content: center;
    align-items: center;
    
    
}
.navElement
{
    
    font-size: 2.35em;
    font-family: preak;
    
    color: rgba(250,250,250,0.45);
    transition: all .5s;
    
    margin-right: 5em;
    margin-left: 5em;
    
    border-bottom: 1px solid transparent;
}

.navElement:hover
{
    cursor: pointer;
    color: rgba(250,250,250,1);
    
    border-bottom: 1px solid rgb(250,250,250);
}

.diamond
{
    /* Dimensions */
    width: 120px;
    height: 120px;
    
    /* General styles */
    background-color: rgba(0,0,0,1);
    border: 4px solid white;
    
    
    
    
    /* Transform */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    transition: all .5s;
    
}

.diamondContent
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    
    font-family: Nazzy;
    font-size: 25px;
    color: rgba(250,250,250,1);
    margin-bottom: 0.23em;
    
    transition:all .5s;
}
.diamond:hover
{
    border-color: rgba(250,250,250,0.67);
    
    box-shadow: inset -180px 180px rgba(250,250,250,1);
    
    color: black;
    cursor: pointer;
    
}
.diamond:hover .diamondContent
{
    color: black;
}
.hide{ display:none; }
.nav2
{
    display:none;
}



/* Media queries */
@media screen and (max-width: 1280px)
{
    .name
    {
        font-size: 3em;
    }
    
    
    .nav1
    {
        display:none;
        
        
        
    }
    
    
    
    

    .nav2
    {
        background-color: transparent;
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
    
    .mdlBtn
    {
        display: block;
        padding: 1em 4em 1em 4em;
        
        border: 2px solid rgba(250,250,250,0.3);
        border-radius: 55px;
        color: white;
        
        font-family: Nazzy;
        font-size: 1.25em;
        
        transition: all .5s;
        
        margin-top: 0.333em;
    }
    
    .mdlBtn:hover
    {
        cursor: pointer;
        background-color: rgba(250,250,250,0.25);
    }

}
